<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instargram</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet"/>
    <link href="/static/mainpage.css" rel="stylesheet">


</head>
<body>

<div id="container">
    <div id="top-container">
        <img src="/static/image/img.png" class="logo" alt="gangstagram">
        <img src="/static/image/trending@3x.png" class="postadd" alt="gangstagram">
    </div>

    <div class="user-container">
        <div class="user-wrapper">
            <img src="/static/image/backgu.jpg" class="user-icon" alt="story_icon">
            <p class="user-text"><strong>neworld27</strong></p>
        </div>
    </div>

    <div class="post-container">
        <div class="mytitle">
            <div>
                <p>게시물 올리는 곳</p>
            </div>
        </div>
    </div>

    <div class="like_etc-container">
        <img src="/static/image/like@3x.png" class="like_etc-icon2" alt="story_icon">
        <img src="/static/image/favorite@3x.png" class="like_etc-icon2" alt="story_icon">
    </div>

    <div class="timeline">
        <p class="timeline-text">6시간 전</p>
        <div class="line">
            <hr>
        </div>
    </div>



    <div class="user-container">
        <div class="user-wrapper">
            <img src="/static/image/backgu.jpg" class="user-icon" alt="story_icon">
            <p class="user-text"><strong>neworld27</strong></p>
        </div>
    </div>

    <div class="post-container">
        <div class="mytitle">
            <div>
                <p>게시물 올리는 곳</p>
            </div>
        </div>
    </div>

    <div class="like_etc-container">
        <img src="/static/image/like@3x.png" class="like_etc-icon2" alt="story_icon">
        <img src="/static/image/favorite@3x.png" class="like_etc-icon2" alt="story_icon">
    </div>

    <div class="timeline">
        <p class="timeline-text">6시간 전</p>
        <div class="line">
            <hr>
        </div>
    </div>

    <div id="footer">
        <img alt="home" class="footer-icon" src="/static/image/home@3x.png">
        <img alt="search" class="footer-icon" src="/static/image/search@3x.png">
        <img alt="trending" class="footer-icon" src="/static/image/trending@3x.png">
        <img alt="like" class="footer-icon" src="/static/image/like@3x.png">
        <img alt="mail" class="footer-icon" src="/static/image/dm@3x.png">
    </div>

</div>
</body>





</html>